h1
  line-height 1.75rem
  font-size: 1.5rem
  font-weight: 500
  color: $black

h2
  line-height: 1.5rem
  font-size: 1.2rem
  font-weight: 500
  color: $black

p
  line-height: 1.5rem
  font-size: 1rem
  font-weight: 400
  color: $black

.text
  &--title
    @extend h1

  &--subtitle
    @extend h2

  &--paragraph
    @extend p

  &--remark,
  &--placeholder
    @extend p
    color: $grey

  &--status
    @extend h1
    font-style: italic
    color: $grey-lighten-1

  &--yellow
    color: $yellow