// Colors
$white = #FFFFFF
$black = #000000

$grey = #757575
$grey-lighten-1 = #C8C8C8
$grey-lighten-2 = #E1E1E1
$grey-lighten-3 = #F2F2F2

$blue = #4A90E2
$dark-blue = #00408B

$red = #D0021B

$yellow = #F5A623
$light-yellow = #FFF2DC

// Theme
$theme = {
  primary: $blue,
  secondary: $dark-blue,
  danger: $red
}
