@import '_variables.styl'

@import '_typography.styl'

@import '_helper.styl'

*
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

#app
  font-family: 'Roboto', sans-serif

.container
  max-width: 620px
  margin: 0 auto